@model IEnumerable<AJSolutions.Models.CandidateCourseDetails>
@{
    ViewBag.Title = "CandidateCourseDetails";
    Layout = "~/Areas/CMS/Views/Shared/_Layout.cshtml";
}

<h2>CandidateCourseDetails</h2>

