@using AJSolutions.DAL;
<!DOCTYPE html>
<html>
<head>
    @RenderSection("AdditionalMeta", false)


</head>
<body class="stretched">

    @RenderBody()

    @RenderSection("scripts", required: false)

</body>

</html>


