@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="fancy-title title-dotted-border title-center">
    <h3>Features & Benefits</h3>
</div>

<div class="container">
    <div class="table-responsive">

        <table class="table table-hover table-comparison nobottommargin">
            <thead>
                <tr>
                    <th>TMS</th>
                    <th>&nbsp;</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Online Scheduling & Tracking Training</td>
                    <td><i class="icon-ok"></i></td>
                </tr>
                <tr>
                    <td>Training Management on different remote Location</td>
                    <td><i class="icon-ok"></i></td>
                </tr>
                <tr>
                    <td>Online attendence of candidates </td>
                    <td><i class="icon-ok"></i></td>
                </tr>
                <tr>
                    <td>Online accomodaton record maintenance</td>
                    <td><i class="icon-ok"></i></td>
                </tr>
                <tr>
                    <td>Get feedback from trainers</td>
                    <td><i class="icon-ok"></i></td>
                </tr>
                <tr>
                    <td>Online Evaluation sheet for candidate results</td>
                    <td><i class="icon-ok"></i></td>
                </tr>
                <tr>
                    <td>one candidate can be mapped to multiple batches</td>
                    <td><i class="icon-ok"></i></td>
                </tr>

            </tbody>
        </table>
        <br /><br />
        <table class="table table-hover table-comparison nobottommargin">
            <thead>
                <tr>
                    <th>Data Mangement</th>
                    <th>&nbsp;</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Online Scheduling & Tracking Training</td>
                    <td><i class="icon-ok"></i></td>
                </tr>
                <tr>
                    <td>Training Management on different remote Location</td>
                    <td><i class="icon-ok"></i></td>
                </tr>
                <tr>
                    <td>Online attendence of candidates </td>
                    <td><i class="icon-ok"></i></td>
                </tr>
                <tr>
                    <td>Online accomodaton record maintenance</td>
                    <td><i class="icon-ok"></i></td>
                </tr>
                <tr>
                    <td>Get feedback from trainers</td>
                    <td><i class="icon-ok"></i></td>
                </tr>
                <tr>
                    <td>Online Evaluation sheet for candidate results</td>
                    <td><i class="icon-ok"></i></td>
                </tr>
                <tr>
                    <td>one candidate can be mapped to multiple batches</td>
                    <td><i class="icon-ok"></i></td>
                </tr>

            </tbody>
        </table>
        <br /><br />
        <table class="table table-hover table-comparison nobottommargin">
            <thead>
                <tr>
                    <th>CMS</th>
                    <th>&nbsp;</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Get your requirement fulfilled by generating JobOrders & Tasks</td>
                    <td><i class="icon-ok"></i></td>
                </tr>
                <tr>
                    <td>Simplified way of assigning JobOrder & Tasks & tracking their status</td>
                    <td><i class="icon-ok"></i></td>
                </tr>
                <tr>
                    <td>Online invoice generation & record of payment</td>
                    <td><i class="icon-ok"></i></td>
                </tr>
                <tr>
                    <td>Record details of official meeting</td>
                    <td><i class="icon-ok"></i></td>
                </tr>
                <tr>
                    <td>Better client relationship</td>
                    <td><i class="icon-ok"></i></td>
                </tr>
                <tr>
                    <td>Online Evaluation sheet for candidate results</td>
                    <td><i class="icon-ok"></i></td>
                </tr>
                <tr>
                    <td>one candidate can be mapped to multiple batches</td>
                    <td><i class="icon-ok"></i></td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
<br /><br />
<div class="pricing-action">
    <a href="@Url.Action("Register", "Account", new { area = ""})" class="btn btn-danger btn-block btn-lg bgcolor border-color">Sign Up</a>
</div>
<br /><br /><br />