@model AJSolutions.Models.PaymentModeMaster

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <div id="contact-form-overlay" class="clearfix">
        <div class="row">
            <div class="fancy-title title-bottom-border">
                <h3>Payment Mode Details</h3>
            </div>
            <div class="col_half">
                <b>@Html.LabelFor(model => model.PaymentMode, "Payment Mode")</b>
                @Html.DisplayFor(model => model.PaymentMode)
                <br />
            </div>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.PaymentModeId }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>